body{
	min-width:640px;
	background-color: white;
	display : block;
	width: 80%;
  	margin-left: auto; /*Centre le bloc*/
  	margin-right: auto;
}

#bandeau {
	height: 120px;
}

#logo{
	height: 70%;
	width: 25%;
	float:left;
	background-color: #F0F0F0;
}
#titre{
	height: 70%;
	width: 75%;
	float: left;
	font-size: 60px;
	background-color: #F0F0F0;
	color: #000033;
}

#barre{
	min-width:630px;
	color: #000033;
	text-align: center;
	height: 30%;
	font-size: 20px;
	background-color: #F0F0F0;
	clear:both;
	border: medium solid #000033 ;
}

.menu {
	font-size : 16px;
    list-style: none none;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.menu a{
	min-width:210px;
	width: 100%;
	background-color: #F0F0F0;
    color: #000033;
    display: block;
    padding:.5em;
    text-decoration: none;
}
.menu a:focus,
.menu a:hover{
	background-color: #F0F0F0;
    color: #000033;
    text-decoration: underline;
}
.menu-item{
	width:32.5%;
    float: left;
    position: relative;
}
.sous-menu{
	width:100%;
    display: none; 
    position: absolute; 
    margin-top: -2px; 
}
.menu-item:hover .sous-menu{
    display: block; 
}

#contenu{
	border-top: medium solid #000033 ;
	float:left;
	height: 800px;
	width: 100%;
	background-color: #F0F0F0;
}

#connexion{
	padding-left: 5px;
	float:left;
	width: 20%;
	height: 20%;
	background-color: #F0F0F0;
	border: medium solid #000033 ;
	border-top:none;
}

#texte{
	padding-left: 23%; /* %connexion + 3% */
	padding-right:3%;
	text-align: justify;
}

.separation{
	clear:both;
	width:100%;
	height: 5%;
}

.separation h1{
	text-align: center;
}

#jeux{
	margin:5px;
	list-style-type:none;
	padding:5px;
	clear:both;
	width: 80%;
	height: 25%;	
	border: medium solid #000033 ;
	margin-left: auto;
  	margin-right: auto;
}

.sous-jeux{
	height:95%;
	padding-top: 5px;
	text-align: center;
	width: 33%;
	display: block;
	float:left;
	position: relative;
}

.sous-jeux:hover{
	border: medium solid #000033 ;
}

#nouveau{
	padding:5px;
	margin:5px;
	clear:both;
	width:80%;
	height:25%;
	border: medium solid #000033 ;
	margin-left: auto;
  	margin-right: auto;
}

#image-nouveau{
	float:left;
	padding-top:5px;
	width:25%;
	text-align:center;
	height:95%;
}

#descr-nouveau{
	width:75%;
	height:60%;
	float:left;
	padding:5px;
	text-align:justify;
}

#genreage-nouveau{
	width:37%;
	height:40%;
	float:left;
	text-align:justify;
}

#prix-nouveau{
	width:37%;
	height:40%;
	float:left;
	padding-top:5px;
	text-align:right;
}

#piedpage {
	height: 100px;
	background-color: #F0F0F0;
	clear:both;
}

.erreur
{
	color : red;
}