body{
	min-width:640px;
	background-color: white;
	display : block;
	width: 80%;
	position: relative; /* on positionne le conteneur */
  	margin-left: auto;
  	margin-right: auto;
}

div#bandeau {
	height: 100px;
}

div#logo{
	height: 70%;
	width: 25%;
	float:left;
	background-color: #F0F0F0;
}
div#titre{
	height: 70%;
	width: 75%;
	float: left;
	font-size: 50px;
	background-color: #F0F0F0;
	color: #000022;
	/*clear:both;*/
}

div#barre{
	min-width:630px;
	color: #000022;
	text-align: center;
	height: 30%;
	font-size: 20px;
	background-color: #F0F0F0;
	clear:both;
	border: medium solid #000022 ;
}

div.morcbarre{
	min-width:210px;
	color: #000022;
	text-decoration:none; 
	width: 33%;
	height: 98%;
	float:left;
}

a.barremenu{
	color: #000022;
	text-decoration:none;
}

div#contenu {
	border-top: medium solid #000022 ;
	float:left;
	height: 800px;
	width: 100%;
	background-color: #F0F0F0;
}

#texte{
	padding-left: 5px;
}

div#piedpage {
	height: 100px;
	background-color: #F0F0F0;
	clear:both;
}

div#connexion {
	padding-left: 5px;
	float:right;
	width: 20%;
	height: 20%;
	background-color: #F0F0F0;
	border: medium solid #000022 ;
	border-top:none;
	border-collapse: collapse;
}