body{
	background-color: #white;
	display : block;
	width: 80%;
	position: relative; /* on positionne le conteneur */
  	margin-left: auto;
  	margin-right: auto;
}

h1{
	color : #00008d;
	font-family : sans-serif ;
	font-size : 60px;
	height : 130px;
	border-bottom : solid #00008d;
}

a.menu{
	padding: 0 10px;
	text-decoration:none; 
	color: white;
	width: 20%;
	font : 28px font-family;
	border: solid;
	border-color: #00008d;
	background-color: #00008d;
	color : #FFFFFF;
	text-align: center;
}

#logo{
	float : left;
}

#titre{
	height: 120px;
	font : 80px font-family;
	font-weight : #00008d;
	color : #00008d;
	text-align : center;
}


